In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np

In [2]:
data_file = 'binary.csv'

admissions = pd.read_csv(data_file)

In [3]:
admissions.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

As we can see in above data that rank of college is categorical data. We need to create dummy columns with 1 hot encoding of rank.

In [4]:
dummy_ranks = pd.get_dummies(admissions['rank'], prefix = 'ranks')
data = pd.concat([admissions, dummy_ranks], axis = 1)
data.head()

   admit  gre   gpa  rank  ranks_1  ranks_2  ranks_3  ranks_4
0      0  380  3.61     3        0        0        1        0
1      1  660  3.67     3        0        0        1        0
2      1  800  4.00     1        1        0        0        0
3      1  640  3.19     4        0        0        0        1
4      0  520  2.93     4        0        0        0        1

As we can see we have now added 1 hot encoded colums of ranks in data. Lets remove the rank columun from data as it is of no use anymore.

In [5]:
data = data.drop('rank', axis = 1)
data.head()

   admit  gre   gpa  ranks_1  ranks_2  ranks_3  ranks_4
0      0  380  3.61        0        0        1        0
1      1  660  3.67        0        0        1        0
2      1  800  4.00        1        0        0        0
3      1  640  3.19        0        0        0        1
4      0  520  2.93        0        0        0        1

We will now standardize the __gre__ and__gpa__ columns so that they have zero mean and standard deviation of 1.

In [6]:
for field in ['gre', 'gpa']:
    mean, std = data[field].mean(), data[field].std()
    data.loc[:, field] = (data[field] - mean)/std

data.head()

   admit       gre       gpa  ranks_1  ranks_2  ranks_3  ranks_4
0      0 -1.798011  0.578348        0        0        1        0
1      1  0.625884  0.736008        0        0        1        0
2      1  1.837832  1.603135        1        0        0        0
3      1  0.452749 -0.525269        0        0        0        1
4      0 -0.586063 -1.208461        0        0        0        1

Lets split the data in training and testing datasets.

In [7]:
np.random.seed(42)
sample = np.random.choice(data.index, size=int(len(data)*0.9), replace=False)
data, test_data = data.ix[sample], data.drop(sample)

/Users/arthur/anaconda/envs/tf-learn/lib/python3.6/site-packages/ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
features, targets = data.drop('admit', axis=1), data['admit']
features_test, targets_test = test_data.drop('admit', axis=1), test_data['admit']

In [9]:
targets = np.reshape(targets, (targets.shape[0], 1))
targets_test = np.reshape(targets_test, (targets_test.shape[0], 1))

/Users/arthur/anaconda/envs/tf-learn/lib/python3.6/site-packages/numpy/core/fromnumeric.py:57: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  return getattr(obj, method)(*args, **kwds)

In [11]:
tf.reset_default_graph()

n_epochs = 1000
learning_rate = 0.5
display_rate = 10

n_records, n_features = features.shape

x = tf.placeholder(tf.float32, shape = (None, n_features), name = 'x')
y = tf.placeholder(tf.float32, shape = (None, 1), name = 'y')

W = tf.Variable(tf.truncated_normal(shape = [n_features, 1]), name = 'W')

pred = tf.sigmoid(tf.matmul(x, W), name = 'pred')

targets_diff = pred - y

cost =  tf.reduce_mean(tf.square(targets_diff))
tf.summary.scalar('cost', cost)
optimizer = tf.train.GradientDescentOptimizer(learning_rate)
train_op = optimizer.minimize(cost)

init = tf.global_variables_initializer()

summary_op = tf.summary.merge_all()

with tf.Session() as sess:
    sess.run(init)
    writer = tf.summary.FileWriter('./graphs', sess.graph)
    feed_dict = {x: features, y: targets}
    for i in range(n_epochs):
        sess.run(train_op, feed_dict = feed_dict)
        if i % display_rate == 0:
            c_cost, summary_result = sess.run([cost, summary_op], feed_dict = feed_dict)
            writer.add_summary(summary_result, i)
            print("Current Cost is {0}".format(c_cost))
            
    target_predictions = sess.run(pred, feed_dict = {x: features_test})
    accuracy = tf.reduce_mean(tf.cast(((target_predictions > 0.5) == targets_test), tf.float32))
    print("The accuracy is {0}".format(sess.run(accuracy)))

Current Cost is 0.3458428382873535
Current Cost is 0.33087387681007385
Current Cost is 0.3166440427303314
Current Cost is 0.30298545956611633
Current Cost is 0.2899320125579834
Current Cost is 0.2776043713092804
Current Cost is 0.2661137580871582
Current Cost is 0.255561500787735
Current Cost is 0.24604330956935883
Current Cost is 0.23762550950050354
Current Cost is 0.23033268749713898
Current Cost is 0.2241508960723877
Current Cost is 0.2190244495868683
Current Cost is 0.2148541510105133
Current Cost is 0.21150848269462585
Current Cost is 0.20884497463703156
Current Cost is 0.206728994846344
Current Cost is 0.20504476130008698
Current Cost is 0.20369777083396912
Current Cost is 0.2026139348745346
Current Cost is 0.20173576474189758
Current Cost is 0.20101897418498993
Current Cost is 0.20042991638183594
Current Cost is 0.19994235038757324
Current Cost is 0.19953608512878418
Current Cost is 0.1991954743862152
Current Cost is 0.1989082396030426
Current Cost is 0.1986645609140396
Current Cost is 0.19845686852931976
Current Cost is 0.19827893376350403
Current Cost is 0.19812579452991486
Current Cost is 0.1979934126138687
Current Cost is 0.19787856936454773
Current Cost is 0.19777850806713104
Current Cost is 0.19769109785556793
Current Cost is 0.1976144015789032
Current Cost is 0.19754694402217865
Current Cost is 0.197487473487854
Current Cost is 0.19743482768535614
Current Cost is 0.1973882019519806
Current Cost is 0.1973467469215393
Current Cost is 0.19730980694293976
Current Cost is 0.19727686047554016
Current Cost is 0.19724740087985992
Current Cost is 0.19722101092338562
Current Cost is 0.1971973031759262
Current Cost is 0.1971760243177414
Current Cost is 0.19715681672096252
Current Cost is 0.19713953137397766
Current Cost is 0.1971239298582077
Current Cost is 0.19710978865623474
Current Cost is 0.1970970183610916
Current Cost is 0.197085440158844
Current Cost is 0.19707490503787994
Current Cost is 0.19706536829471588
Current Cost is 0.19705666601657867
Current Cost is 0.19704878330230713
Current Cost is 0.1970415711402893
Current Cost is 0.19703499972820282
Current Cost is 0.19702906906604767
Current Cost is 0.19702360033988953
Current Cost is 0.1970186084508896
Current Cost is 0.1970140039920807
Current Cost is 0.19700987637043
Current Cost is 0.19700606167316437
Current Cost is 0.19700251519680023
Current Cost is 0.19699929654598236
Current Cost is 0.19699639081954956
Current Cost is 0.1969936639070511
Current Cost is 0.1969911754131317
Current Cost is 0.19698886573314667
Current Cost is 0.19698680937290192
Current Cost is 0.19698485732078552
Current Cost is 0.19698308408260345
Current Cost is 0.19698144495487213
Current Cost is 0.19697993993759155
Current Cost is 0.19697856903076172
Current Cost is 0.19697725772857666
Current Cost is 0.19697611033916473
Current Cost is 0.19697502255439758
Current Cost is 0.1969740092754364
Current Cost is 0.19697308540344238
Current Cost is 0.19697228074073792
Current Cost is 0.19697144627571106
Current Cost is 0.19697073101997375
Current Cost is 0.19697007536888123
Current Cost is 0.19696944952011108
Current Cost is 0.19696886837482452
Current Cost is 0.19696837663650513
Current Cost is 0.19696786999702454
Current Cost is 0.19696743786334991
Current Cost is 0.1969669759273529
Current Cost is 0.19696658849716187
Current Cost is 0.19696621596813202
Current Cost is 0.19696591794490814
Current Cost is 0.19696561992168427
Current Cost is 0.19696535170078278
Current Cost is 0.1969650685787201
Current Cost is 0.19696485996246338
Current Cost is 0.19696460664272308
The accuracy is 0.7250000238418579